
body {
  font-family: "Segoe UI", sans-serif;
  color: #1f1f1f;
  background: #fff;
}


.assured-band{
  text-align:start; 
  padding:10px; 
  border-top:1px solid rgb(245, 211, 211);
  border-right:1px solid rgb(245, 211, 211);
  border-left:1px solid rgb(245, 211, 211); 
  border-radius:10px 10px 0 0; 
  background-color:#FAF2F0; 
  height:40px; 
  width:95%;
  font-size:14px;
  font-weight: 500;
  margin:0 auto; 
  display:block;
}

.card{
  border-bottom:1px solid black;
  width:100%;
  border:1px solid rgb(205, 205, 205);
  border-radius:8px; 
  padding:10px;
  margin:0 auto;
  display:block;
}

.book-btn {
  display: inline-block;
  margin: 4px 0px;
  padding: 10px 16px;
  border: 1px solid rgb(216,202,216);
  border-radius: 8px;
  background-color: #0A1F58;
  color: #f5f5f5;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.book-btn:hover {
  background-color: #fff;
  color: #0A1F58;
}