/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Segoe UI", sans-serif;
  color: #1f1f1f;
  background: #fff;
}

/* Reset default list styles */
 .header {
  background: #FAF2F0;
  padding: 1rem 2rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  max-height: 40px;
}

/* Nav */
.nav {
  display: flex;
}
.nav__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.2rem;
  margin: 0;
  padding: 0;
}

/* Links */
.nav__list li a {
  position: relative;
  text-decoration: none;
  color: #0A1F58;
  font-weight: 500;
  transition: color 0.3s ease;
  padding: 0px;
 
}

.nav__list li a:hover{
  color: #0A1F58;
}

.nav__list li a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #0A1F58;
  transition: width 0.3s ease;
}
.nav__list li a:hover::after,
.nav__list li a.active::after {
  width: 100%;
}

/* Search */
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}
.search-input {
  border: none;
  padding: 8px 10px;
  outline: none;
  font-size: 14px;
  width: 180px;
  background-color: transparent;
}
.search-btn {
  background-color: #0A1F58;
  border: none;
  border-radius: 5px;
  padding: 6px;
  margin-right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 28px;
  color: #0A1F58;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile/Tablet */
@media (max-width: 991px) {
  .nav {
    display: none;
    width: 100%;
    background: #FAF2F0;
    /* padding: 1rem; */
    margin-top: 1rem;
    border-radius: 8px;
  }
  .nav.active {
    display: block;  /* dropdown below header */
  }
  .nav__list {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    padding: 0px;
  }
  .hamburger {
    display: block;
  }
  .search-container {
    width: 100%;
  }
  .search-input {
    width: 100%;
  }
}


.book-btn {
  display: inline-block;
  padding: 6px 14px;
  border: 1px solid rgb(216,202,216);
  border-radius: 8px;
  background-color: #fff;
  color: rgb(216,112,214);  /* same as your DriveX theme */
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.book-btn:hover {
  background-color: rgb(216,202,216);
  color: #fff;  /* white text when filled */
}